*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Yusei Magic', sans-serif;
}

body {
    background-image: url(background.jpg);
    background-size: 200%;
}

.titlebox {
    background-color: rgba(0,140,0,0.7);
    width: 50rem;
    height: 10rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    
}

.titulo {
    color: Black;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.parrafo {
    color: black;
    text-align: center;
}

.listbox {
    background-color: rgba(0,140,0,0.7);
    width: 45rem;
    padding: 1rem;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
}

fieldset {
    border: 0;
    margin: 1rem;
    color: #000000
}

h4 {
    color: #000000;
}

.submit {
    display: block;
    margin: 1rem auto;
    padding: 0.1rem;

}

.answer {
    background-color: rgba(0, 140, 0, 0.7);
    width: 45rem;
    padding: 1rem;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}