*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #9dd9d2;
}

/* Aca se forma el grid de 7 columnas */
.contenido-principal {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Se toman las 2 primeras columnas del grid */
.seccion-izq {
    grid-column: span 2;
    height: 100%;
    background-color: #FF8811;
}

/* Se toman las 5 columnas restantes del grid */
.seccion-der {
    grid-column: span 5;
    height: 100%;
    background-color: #FFF8F0;

}

/* Inicio de seccion izquierda */

.contenedor-izq {
    padding: 2rem 3rem;
}

.perfil {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #FFF8F0;
}

.imagen-perfil {
    width: 100%;
    text-align: center;
    border-radius: 50%;
    border: 6px solid hsl(30, 93%, 43%);
}

.nombre {
    font-size: 2rem;
    color: #FFF8F0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.raza {
    font-size: 1.2rem;
    color: #452A15;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
}

.titulos-izq {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF8F0;
    padding-top: 1rem;
    text-align: center;
}

.contacto {
    width: 100%;
    border-bottom: 1px solid #FFF8F0;
}

.contacto ul {
    padding-top: 2rem;
}

.contacto ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #FFF8F0;
}

.contacto ul li i {
    padding-right: 1rem;
    font-size: 1.2rem;
    color: hsl(27, 100%, 32%);
}

.titulo-habilidades {
    text-transform: uppercase;
    color: #FFF8F0;
    font-size: .8rem;
}

.habilidades-secc {
    width: 100%;
    border-bottom: 1px solid #FFF8F0;
}

.habilidades-secc ul {
    padding-top: 2rem;
}

.habilidades-secc ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.barra {
    width: 100%;
    height: .4rem;
    background-color: #725a41;
    position: relative;
    border-radius: 12px;
}

.nivel {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #FFD561;
    border-radius: 12px;
}

.b1 {
    width: 100%;
}

.b2 {
    width: 80%;
}

.b3 {
    width: 65%;
}

.b4 {
    width: 42%;
}

.b5 {
    width: 100%;
}

.subtitulo-izq {
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #FFF8F0;
}

.sub-ref {
    color: #FFF8F0;
    padding: .4rem 0;
}

/* Fin de seccion izquierda */

/* Inicio de seccion derecha */

.contenedor-der {
    padding: 2rem 3rem;
}

.titulos-der {
    color: #B65E07;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    position: relative;
}

.titulos-der::after{
    content:"";
    position: absolute;
    width: 60%;
    height: .2rem;
    top: 50%;
    background-color: #FFD561;
    border-radius: 12px;
    right: 0;
    transform: translateY(-50%);
}

.parrafo {
    line-height: 1.6rem;
    color: #0A122A;
    font-size: 1.1rem;
}

.sobre-mi {
    padding-bottom: 2rem;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.titulo-tl-izq {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #452A15;
    text-transform: uppercase;
}

.titulo-tl-der {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #452A15;
    text-transform: uppercase;
}

.titulo-tl-der::before {
    content: "";
    position: absolute;
    width: .8rem;
    height: .8rem;
    background-color: #B65E07;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

.borde-tl {
    border-left: 1px solid #FF8811;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;;
}

/* Fin de seccion derecha */

/* Ajustes para las distintas pantallas */
@media screen and (max-width:823px) {
    .titulos-der::after {
        width: 40%;
    }
}

@media screen and (max-width:681px) {
    .titulos-der::after {
        width: 30%;
    }
}

@media screen and (max-width:780px) {
    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .seccion-izq {
        grid-column: span 3;
    }
    .seccion-der {
        grid-column: span 4;
    }
}

@media screen and (max-width:1020px) {
    .contenido-principal {
        grid-template-columns: repeat(1, 1fr);
    }
    .imagen-perfil {
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    .contenido-principal {
        grid-template-columns: repeat(1, 1fr);
    }

    .imagen-perfil {
        width: 60%;
    }
}

@media screen and (max-width:390px) {
    .nombre {
        font-size: 1.5rem;
    }
        .imagen-perfil {
            width: 60%;
        }
}
